<% include partials/header.ejs %>

<h2>New Post</h2>
<form action="/find" method="post">
<p>Post Title:</p> 
<input type= "text" name="title" placeholder="Enter the post title">

<button>Find Post</button>
</form>


 <% include partials/footer.ejs  %>