<% include partials/header.ejs %>
    <main align= "center">
        <h2>Latest Posts</h2>
        <div class="card">

            <% posts.forEach(post =>{ %>
                <div class="card-body">
                    <li>
                        <h2 class="card-title">
                            <a href="/posts/<%= post.id %>">
                                <%= post.title %>
                            </a>
                        </h2>
                        <!-- <p class="card-text">
                            <%= post.post %>
                        </p> -->
                    </li>
                </div>
                <% }) %>
        </div>
    </main>

    <% include partials/footer.ejs  %>