<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nairaland Clone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <header>
        <h1>Welcome to Nairaland Clone</h1>
        <nav>
            <ul>
                <li><a href="/create">Create Post</a></li>
                <li><a href="/find">Find Post</a></li>
                <li><a href="/delete">Delete Post</a></li>
                <li><a href="/update">Update Post</a></li>                                
            </ul>
        </nav>
    </header>
<main>
    <h3>Latest Posts</h3>

        <% posts.forEach(post =>{ %>
            <li>
            <h2><%= post.title %></h2>    
            <p><%= post.post %></p>
            </li><br>
            <% }) %>
</main>
</body>

</html>